# Node modules
node_modules/

# Build output
frontend/dist/
backend/dist/
build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.swp

# Misc
frontend/.vite/ 